@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lexend Deca', sans-serif;
    scroll-behavior: smooth;
}

.footer{
    position: absolute;
    width: 100%;
    color: #fff;
    background-color: rgb(20, 20, 32);
    padding: 0.3rem 1rem;
    margin-bottom: 0;
}

.footer a{
    color: #fff;
}

a {
    text-decoration: none;
}

p {
    color: #fff;
    font-size: 15px;
}

.sections {
    padding: 0 3rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.main {
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3em;
}

.main-item {
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0 1.5rem;
}

.main-item__title {
    font-size: 2em;
    font-weight: 900;
}

.main-item__link {
    text-decoration: none;
}

.main-item__button {
    border: none;
    height: 30px;
    width: 110px;
    margin-top: 25px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.main-item__one {
    background-color: hsl(31, 77%, 52%);
    border-radius: 1em 1em 0 0;
}

.main-item__one .main-item__link {
    color: hsl(31, 77%, 52%);
}

.main-item__two {
    background-color: hsl(184, 100%, 22%);
}

.main-item__two .main-item__link {
    color: hsl(184, 100%, 22%);
}

.main-item__three {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0 1em 1em;
}

.main-item__three .main-item__link {
    color: hsl(179, 100%, 13%);
}
