@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lexend Deca', sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
}

.main {
    background: #f1f1f1;
    width: inherit;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    width: 100%;
    color: #fff;
    background-color: rgb(20, 20, 32);
    padding: 0.3rem 1rem;
    margin-bottom: -1px;
    bottom: 0;
}

a {
    text-decoration: none;
}

p {
    color: #fff;
    font-size: 15px;
}

.sections {
    padding: 0 2rem;
    margin: 2em 0;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.main-item {
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0.5rem 2.5rem;
}

.main-item__title {
    font-size: 2em;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    font-family: Montserrat, serif;
}

.main-item__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: none;
    height: 32px;
    width: 120px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.main-item__link:hover {
    border: solid 3px #f9f9f9;
    background: #ffffff46;
    transition: all ease-out 300ms;
    color: #f9f9f9 !important;
}

.main-item__one {
    background-color: hsl(31, 77%, 52%);
    border-radius: 1em 1em 0 0;
}

.main-item__one .main-item__link {
    color: hsl(31, 77%, 52%);
}

.main-item__two {
    background-color: hsl(184, 100%, 22%);
}

.main-item__two .main-item__link {
    color: hsl(184, 100%, 22%);
}

.main-item__three {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0 1em 1em;
}

.main-item__three .main-item__link {
    color: hsl(179, 100%, 13%);
}

@media (min-width: 768px) {
    p {
        color: #fff;
        font-size: 18px;
    }

    .sections {
        display: flex;
        flex-direction: row;
        height: 67.5vh;
        justify-content: center;
        align-items: center;
    }

    .main {
        height: 100vh;
    }

    .main-item {
        padding: 1.5rem 2.5rem;
        height: inherit;
    }

    .main-item__one {
        border-radius: 1em 0 0 1em;
    }

    .main-item__three {
        border-radius: 0 1em 1em 0;
    }

    .main-item__title {
        font-size: 2.25em;
    }

    .main-item__link {
        font-size: 1.3em;
        font-weight: 600;
        width: 140px;
        height: 36px;
        border-radius: 18px;
    }

    .main-item__para {
        margin-top: 3px;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    .main-item {
        height: 50vh;
    }
}

@media (min-width: 1024px) and (orientation: portrait) {
    .main-item {
        height: 35vh;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .main {
        width: 100vw;
        overflow-x: hidden;
    }

    .main-item {
        height: 55vh;
    }

    .sections {
        width: 65vw;
    }
}